.App {
  text-align: center;
  width: 100%;
}

.ThingisaurLogo {
  padding-left: 20px;
  padding-top: 15px;
}

.App-header {
  padding-top: 5px;
  color: white;
  text-align: left;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#itemContainer{
  width: 100%;
}

#checkoutform{
  width: 100%;
}

.ItemDesktop{
  padding-right: 30px;
}

.ItemMobile{
  padding-right: 19px;
}

.Checkout{
  margin-top: 1%;
  width: 100%;
}

.stripe-button-el{
  display: none !important;
}

.Spinner{
  font-size: 48px;
}

#loadingContainer{
  display: none;
  height: 48px
}

button{
  display: none;
}

.robotoFont{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.hiFont{
  font-size: 70pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.react-confirm-alert-body{
  background-color:lightgoldenrodyellow
}

.productBlurb{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 12pt;
}

.shareOuter
{
    width:100%;
    text-align: center;
}
.shareInner
{
    display: inline-block;
}

.Item{
  width: 100%;
}

.aboutUs{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
 line-height: 1.5;
 color: black;
}

.spacer{
  height: 5px;
}

.spacerMore{
  height: 40px;
}

.map{
  margin-left: 15%;
  margin-right: 15%;
}

Button{
  border-radius: 0 !important;
  background-color: rgb(202,	138,	22	) !important;
}

.GetButton{
  border-radius: 0 !important;
  background-color: rgb(202,	138,	22	) !important;
  width: 120px;
  height: 30px;
  padding-top: 15px;
  color: white;
  margin:auto;
}

.Item{
  text-align: center;
  width: 100%;
}

.GetButton { 
  cursor: pointer; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}